<% breadcrumb(
     {text: 'Products', path: admin_products_path},
     @product.name
   ) %>

<div class="container mt-4">
  <h1 class="mb-4"><%= @product.name %></h1>

  <table class="table table-striped table-bordered">
    <tbody>
      <tr>
        <th scope="row" class="w-25">ID</th>
        <td><%= @product.id %></td>
      </tr>
      <tr>
        <th scope="row">Name</th>
        <td><%= @product.name %></td>
      </tr>
      <tr>
        <th scope="row">Description</th>
        <td><%= @product.description %></td>
      </tr>
      <tr>
        <th scope="row">Price</th>
        <td><%= number_to_currency(@product.price) %></td>
      </tr>
      <tr>
        <th scope="row">Stock</th>
        <td><%= @product.stock %></td>
      </tr>
      <tr>
        <th scope="row">Category</th>
        <td><%= @product.category %></td>
      </tr>
      <tr>
        <th scope="row">Created At</th>
        <td><%= @product.created_at.strftime('%B %d, %Y at %I:%M %p') %></td>
      </tr>
      <tr>
        <th scope="row">Updated At</th>
        <td><%= @product.updated_at.strftime('%B %d, %Y at %I:%M %p') %></td>
      </tr>
    </tbody>
  </table>

  <div class="mt-4">
    <%= link_to 'Edit', edit_admin_product_path(@product), class: 'btn btn-primary' %>
    <%= link_to 'Back to Products', admin_products_path, class: 'btn btn-secondary' %>
    <%= link_to 'Delete', admin_product_path(@product), method: :delete, data: { confirm: 'Are you sure you want to delete this product?' }, class: 'btn btn-danger' %>
  </div>
</div>