<!DOCTYPE html>
<html>
  <head>
    <title>Admin Dashboard</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%#= javascript_importmap_tags %>
  </head>

  <body class="d-flex flex-column h-100">
    <div class="container-fluid flex-grow-1">
      <div class="row h-100">
        <!-- Sidebar partial -->
        <%= render 'shared/admin_sidebar' %>

        <!-- Main content -->
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 d-flex flex-column">
          <!-- Navigation bar partial -->
          <%= render 'shared/admin_navbar' %>

          <!-- Breadcrumbs partial -->
          <%= render 'shared/admin_breadcrumbs' %>

          <!-- Page content -->
          <div class="flex-grow-1">
            <%= yield %>
          </div>

          <!-- Footer partial -->
          <%= render 'shared/admin_footer' %>
        </main>
      </div>
    </div>
  </body>
</html>